target/classes/projetofinalv2.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <http:listener-config name="projetofinalv2-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="projetofinalv2-config" api="resource::b33f157e-308e-40ff-b566-2592b2e9de02:projetofinalv2:1.2.0:raml:zip:projetofinalv2.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="projetofinalv2-main">
        <http:listener config-ref="projetofinalv2-httpListenerConfig" path="/tempo/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="projetofinalv2-config" />
		<error-handler ref="globalError_Handler" />
    </flow>
    <flow name="get:\findPredictTimeWeek:projetofinalv2-config">
		<flow-ref doc:name="Flow Reference" doc:id="c3af6369-5701-42c6-90ad-c8caa3dc1b28" name="implementation-find-get-main"/>
    </flow>
    <flow name="get:\findPredictTimeWeek\media:projetofinalv2-config">
		<flow-ref doc:name="Flow Reference" doc:id="01bdb42c-b335-43a1-a2ff-16f6e56e2f8b" name="implementacao-find-media-main"/>
    </flow>
</mule>
